<!DOCTYPE html>
<html>
       <head>
           <title>{{title}}</title>
           <link rel='stylesheet' href='/stylesheets/style.css' />
       </head>
       <body>
            <header>
                <div>
                    Deep Manish Lad [n01582108]
                </div>
            </header>
           {{{body}}}
           <footer>
            deepmlad@gmail.com
           </footer>
       </body>
</html>